<!DOCTYPE html>
<html lang="en">
<head>
    <title>Assessment Page</title>
    <!-- Extensions & Libraries -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <!-- Include Files -->
    <link rel="stylesheet" href="../assets/css/assessment.css" />
</head>
<body>
    <header>
        <div class="title-box">
            <h1 class="title">PneumoTech</h1>
        </div>
    </header>
    <div class="back-btn">
        <img src="../assets/images/back-btn.png">
        <p>Back to Home</p>
    </div>
</body>
</html>