<!DOCTYPE html>
<html lang="en">
<head>
    <title>Footer Section</title>

    <!-- Extensions & Libraries -->

    <!-- Include Files -->
    <link rel="stylesheet" href="../assets/css/styles.css" />
</head>
<body>
    <footer>
        <div class="logo-footer">
            <a href="index.html">PneumoTech</a>
            <p>It's a Good Day <br> to Have a Good Day!</p>
        </div>
        <div class="credits"> 
            <p>&copy; 2021 PneumoTech v2.0. All right reserved.</p>
        </div>
        <div class="about-footer">
            <a href="about.html"><h3>About Us</h3></a>
            <ul>
                <a href="about.html"><li>Out Story</li></a>
                <a href="about.html"><li>Team</li></a>
                <a href="about.html"><li>Contact Us</li></a>
            </ul>
        </div>
        <div class="contact-footer">
            <a href="contact.html"><h3>Get in touch</h3></a>
            <p>Question or feedback? <br> We'd love to hear from you.</p>
        </div>

    </footer>
</body>
</html>