<!DOCTYPE html>
<html lang="en">
<head>
    <title>Header Section</title>

    <!-- Extensions & Libraries -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <!-- Include Files -->
    <link rel="stylesheet" href="../assets/css/styles.css" />
</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html">PneumoTech</a>
        </div>
        <nav>
            <div class="nav-items">
                <a href="index.html">Home</a>
                <a href="about.html">About Us</a>
                <a href="contact.html">Contact Us</a>
            </div>
        </nav>
        <div class="assessment-btn">
            <a href="assessment.html"><button class="assessment-text" name="assessment-btn">Start Assessment</button></a>
        </div>
    </header>
</body>
</html>