<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home | Pneumotech</title>

    <!-- Extensions & Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <!-- Include Files -->
    <link rel="shortcut icon" href="../assets/images/logo-only-modified.png" />
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <script type="text/javascript" src="../assets/js/header-footer.js"></script>
</head>

<body>
    <section>
        <div id="header">
    </section>
    <main>
        <div class="background"></div>
            <section class="headline">
                <div class="tagline-content">
                    <p>Anyone can get Pneumonia, but some people are more at risk than others.
                        Check your symptoms to see if you have the possibility of having Pneumonia.
                    </p>
                    <img src="../assets/images/tagline-doctors.png">  
                </div>
            </section>
        </div>
        <section class="container">
            <div class="article-content">
                <p>Article</p>
                <p>Pneumonia:</p>
                <p>What you need to know about.</p>
                <a href="https://www.lung.org/lung-health-diseases/lung-disease-lookup/pneumonia/learn-about-pneumonia">Read More</a>
            </div>
        </section>
    </main>
    <section>
        <div id="footer"></div>
    </section>
</body>
</html>