<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home | Pneumotech</title>

    <!-- Extensions & Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Include Files -->
    <link rel="shortcut icon" href="../assets/images/logo-only-modified.png" />
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <script type="text/javascript" src="../assets/js/header-footer.js"></script>
</head>

<body>
    <section>
        <div id="header"></div>
    </section>
    <main>
        <section class="container">
            <div class="tagline-content">
                <p>Anyone can get Pneumonia , but some people are more at risk than others.</p>
                <p>Check your symptoms to see if you have the possibility of having Pneumonia</p>
                <img src="../assets/images/tagline-doctors.png">
            </div>
        </section>
        <section class="container">
            <div class="article-content">
                <p>Article</p>
                <p>Pneumonia:</p>
                <p>What you need to know about.</p>
                <a href="https://www.lung.org/lung-health-diseases/lung-disease-lookup/pneumonia/learn-about-pneumonia">Read More</a>
            </div>
        </section>
    </main>
    <section>
        <div id="footer"></div>
    </section>
</body>
</html>