/* BODY START */
/* Universal Selector */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 1920px;
    height: 1080px;

    font-family: "Helvetica";
    background-color: #F7F7F7;
}
/* END BODY */

/* HEADER START */
header {
    width: 100%;
    height: 100px;

    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.back-btn p {
    font-family: Roboto;
    font-style: medium;
    font-size: 22px;
}

.title-box {
    position: absolute;
    width: 220px;
    height: 45px;
    left: 837px;
    top: 25px;
}

.title {
    padding: 5px 5px;

    font-family: Ubuntu;
    font-style: regular;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    text-decoration: none;

    border-radius: 5px;
    border: 2px solid #1663BE;
    
    color: #1663BE; 
}
/* HEADER END */

/* START ASSESSMENT BODY SECTION  */
/* container */
.container {
    position: relative;
    width: 1100px;
    height: auto;
    top: 30px;
    bottom: 50px;
    margin: auto;

    text-align: center;

    border: .5px solid #D3D3D3; 
    border-radius: 5px;

    background-color: white;
}

.welcome {
    position: relative;
    top: 50px;
    padding: 10px 0;

    font-size: 50px;
}

.question {
    border: 1px solid red;
    position: relative;
    top: 40px;
    width: 700px;
    margin: auto;
    padding: 20px 50px;
}

.question h4 {
    padding-bottom: 10px;
    
    font-family: 'Trebuchet MS';
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.question label {
    font-family: Lato;
    font-size: 25px;
}

input {
    display: block;
    margin: auto;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.tooltip-text {
    position: absolute;
    top: 50px;
    left: 750px;
    width: 520px;
    padding: 15px;
    z-index: 1;

    text-align: left;

    background-color: black;
    color: #fff;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
    visibility: hidden;
    opacity: 0.8;
}

.question:hover .tooltip-text {
    visibility: visible;
    transform: translate3d(0,-10px,0);
    transition: all .3s ease-in-out;
  }
/* END ASSESSMENT BODY SECTION */