/* BODY */

/* Universal Selector */
* {
    margin: 0;
    padding: 0;
} 

body {
    width: 1920px;
    height: auto;

    font-family: "Helvetica";
    background-color: #F7F7F7;
}

/* END BODY */

/* INDEX HTML */
/* START HEADER SECTION */
/* header, logo, navbar, assessment-btn */
header {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0px;
    z-index: 1;

    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
    width: 200px;
    height: 41px;
    padding-top: 30px;
    padding-left: 120px;
}

.logo a {
    padding: 5px 5px;

    font-family: Ubuntu;
    font-style: regular;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    text-decoration: none;

    border-radius: 5px;
    border: 2px solid #1663BE;
    
    color: #1663BE;
}

.logo a:hover {

    border: 2px solid rgb(0, 88, 252);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    color: rgb(0, 88, 252);
    transition: 0.3s;
}

.nav-items {
    position: absolute;
    top: 35px;
    left: 800px;
}

.nav-items a{
    padding: 15px;

    font-family: Ubuntu;
    font-style: medium;
    font-weight: 450;
    font-size: 25px;
    text-decoration: none;

    color: #1663BE;
}

.nav-items a:hover {
    color: rgb(0, 88, 252);
    transition: 0.3s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.assessment-btn {
    position: absolute;
    top: 25px;
    left: 1570px;
}

.assessment-text {
    padding: 5px 20px;

    font-family: Roboto;
    font-style: regular;
    font-size: 25px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    color: #1663BE;
    background-color: white;
    cursor: pointer;
}

.assessment-btn:hover, .assessment-btn:focus {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;

    transition: all .5s;
}

.terms-modal {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 200px;
    z-index: 2;
    
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 

    overflow: auto;
}

.modal-content {
    margin: auto;
    padding: 30px;
    width: 400px;
    height: 370px;

    background-color: #fefefe;

    border: 1px solid #888;
    border-radius: 10px;
}

.modal-content hr {
    margin: 10px 0;
}

.modal-content h2 {
    padding: 10px 0;

    font-size: 35px;
    text-align: center;
}

.modal-content p {
    padding-bottom: 10px;
}

.modal-content h3 {
    font-size: 25px;
    padding-bottom: 10px;
}

.conditions {
    text-align: center;
}

.conditions button {
    width: 130px;
    height: 40px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
}

.conditions button:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;

    transition: all .5s;
}

.decline-btn {
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
}

.accept-btn {
    margin-left: 20px;

    font-size: 20px;
    font-weight: bold;

    color: white;
    background-color: #26a0fd;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* END HEADER SECTION */

/* START HOMEPAGE BODY SECTION  */
/* container */
.container {
    position: relative;
    width: 1300px;
    height: 450px;
    top: 80px;
    bottom: 50px;
    margin: 50px 300px;

    border: .5px solid #D3D3D3; 
    border-radius: 5px;

    background-color: white;
}

.tagline-content p{
    width: 580px;
    height: 350px;
    padding: 20px 0px 10px 30px;
    margin-top: 30px;
    margin-left: 25px;
    display: inline-block;

    font-family: Roboto;
    font-weight: bold;
    font-size: 45px;

    color: rgb(65, 65, 65);
}

.caption p{
    position: absolute;
    width: 500px;
    height: auto;
    top: 250px;
    padding-top: 0;

    font-size: 20px;
    font-weight: normal;
}

.tagline-content img{
    position: absolute;
    top: 0px;
    left: 635px;
    height: 450px;
    display: inline-block;
}

.article-content img {
    height: 450px;
}

.article-text {
    width: 630px;
    padding-top: 60px;
    display: inline-block;
    position: absolute;
    
    font-family: Roboto;
}

.article-text h1 {
    font-size: 30px;

    color: #0D2354;
}

.article-text  h2 {
    font-family: Varela Round;
    font-size: 50px;

    color: #0D2354;
}

.article-text p {
    padding: 5px 10px;
    width: 500px;

    font-size: 20px;
}

.article-text a {
    text-decoration: none;
    font-style: italic;
    color: blue;
}

.reference {
    position: relative;
    left: 50px;

    font-size: 20px;
    font-weight: thin;
    font-style: italic;
}

/* END HOMEPAGE BODY SECTION  */


/* START FOOTER SECTION */
footer {
    position: relative;
    width: 100%;
    height: 200px;
    left: 0;
    bottom: 0;
    margin-top: 110px;
    display: block;

    border-top: .5px solid #D3D3D3;

    background-color: rgb(211, 241, 255);
}

.logo-footer {
    width: 200px;
    height: auto;
    margin-top: 60px;
    margin-left: 120px;
}

.logo-footer a {
    padding: 5px 5px;

    font-family: Ubuntu;
    font-style: regular;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    text-decoration: none;

    border-radius: 5px;
    border: 2px solid #1663BE;
    
    color: #1663BE;
}

.logo-footer p {
    padding-top: 15px;
}


.about-footer {
    position: absolute;
    width: 150px;
    top: 60px;
    left: 550px;
}

.about-footer a, .contact-footer a {
    text-decoration: none;
}

.about-footer h3, .contact-footer h3 {
    padding-bottom: 6px;

    text-decoration: none;
    font-size: 22px;

    color: #0D2354;
}

.about-footer li {
    padding: 1px; 
    font-size: 18px;

    list-style-type: none;

    color: black;
}

.contact-footer {
    position: absolute;
    width: 200px;
    top: 60px;
    left: 800px;
}

.icons {
    position: absolute;
    width: auto;
    height: auto;
    top: 60px;
    left: 1050px;
}

.icons img {
    padding: 0 10px;
}

.credits {
    position: absolute;
    width: 400px;
    height: auto;
    top: 70px;
    left: 1350px;

    font-family: Roboto;
    font-size: 17px;
    font-weight: 100;
}
/* END FOOTER SECTION */
/* position top, right, bottom, left
display

font
text
design

border
box
radius

color
animation */
/* START HOMEPAGE BODY SECTION  */
.contact-container{
    position: absolute;
    width: 70%;
    height: 80%;
    margin: 15%;
    padding: 40px;

    border-radius: 30px;

    background-color: rgb(211, 241, 255);
}

.contact-details{
    display: grid;
    float: left;
    margin-top: 40px;
    width: 40%;
}

.contact-details h2{
    margin-top: 20px;

    color: rgb(9, 38, 124) ;
}

.contact-details #direction{
    margin-top: 20px;
    margin-bottom: 10px;
}

.contact-details p{
    display: inline-flexbox;
    margin: 20px 20px;

}

.contact-details img{
    width: 10%;
    margin:20px 10px;
    float: left;
}

.contact-form{

    float: right;
    width: 50%;
    height: 85%;
    padding: 40px;
    margin-left: 10px;

    border-radius: 25px;

    background-color: rgb(234, 247, 253);
    
}

.contact-form form{
    margin-top: 30px;
}

.form-label{
    padding: 10px;
    margin-top: 10px;
}

.contact-form input, .contact-form textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    
    box-sizing: border-box;
    border-radius: 5px;
}

/* RESULT PAGE START */
.result-content {
    height: 310px;
    padding: 60px 0;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.result-content h1 {
    font-family: Arial, 'Times New Roman', Times, serif;
    font-size: 50px;

    color:rgb(0, 36, 104);
}

.result-content h4 {
    font-style: oblique;
    font-weight: 100;
}

.risk , .type {
    width: 450px;
    height: 20px;
    padding: 10px;
    margin: 10px auto;

    font-size: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;

    border: 1px solid rgba(155, 155, 155, 0.309);
    border-left: 5px solid #88ABE3;
    border-radius: 10px;
    color: #88ABE3;
    background-color: #FCF7F4;
}

.advice-container {
    width: 700px;
    height: 50px;
    padding: 5px 0;
    margin: 0 auto;

    font-family: Helvetica, monospace;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
    word-wrap: break-word;

    border: 1px solid rgba(128, 128, 128, 0.494);
    border-radius: 5px;
}

.home-btn {
    position: relative;
    width: 150px;
    height: 50px;
    top: 10px;
    bottom: 5px;

    font-size: 15px;

    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
    background-color: rgb(0, 145, 255);

    cursor: pointer;
}

.home-btn:hover {
    background-color: rgb(95, 186, 255);
    transition: .2s;
}
/* RESULT PAGE END */